@{
    ViewData["Title"] = "Hakkımda";
}


<section class="section gray-bg mt-3" >
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color">Hakkımda</h3>
                            <h6 class="theme-color lead">Öğretmen</h6>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio natus possimus ea quia, sequi officiis ipsum dolorum officia voluptatem architecto error quaerat sit, quis aliquam animi aperiam neque corporis laboriosam.</p>       
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex justify-content-center">
                            <img src="/images/avatar7.png"  title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>